<div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <p class="accordion-header" id="headingOne">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          When should I put my carts or bins out for my weekly service?
        </button>
    </p>
      <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          Trash collection will occur between the hours of 5:00am and 7:00pm on schedule collection days of service. All carts for collection should be placed curbside no later than 5:00am on the day of collection. Carts must be placed within 6 inches off the curb and with the handle facing toward the property. Do not block the sidewalk. Please allow for three feet of space between collection items and other obstacles such as mailboxes, phone poles, and vehicles. GCI will only dump trash that is inside GCI equipment. GCI is not authorized to handle other trash haulers containers (even if altered, name and logo of company removed, etc.).
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <p class="accordion-header" id="headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          What items can not go into my Trash Bin?
        </button>
    </p>
      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          The following hazardous household waste items should NOT be treated as everyday garbage and should NOT be disposed of curbside, in your totes, bins or carts:
          <ul>
            <li>Batteries</li>
            <li>Electronics</li>
            <li>Fluorescent light bulbs</li>
            <li>Paint and paint cans</li>
            <li>Used motor oil and filters</li>
            <li>Prescription medications</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <p class="accordion-header" id="headingThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          What items can go into my Trash Bin?
        </button>
    </p>
      <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          The following items are included in everyday trash. These items can be placed in your curbside totes, bins, cans or containers.
          <ul>
            <li>Diapers</li>
            <li>Disposable razors</li>
            <li>Cactus and palm branches</li>
            <li>Cat litter and pet feces</li>
            <li>Glassware and ceramic dishes/cups</li>
            <li>Hoses and wire</li>
            <li>Juice boxes/pouches</li>
            <li>Non-fluorescent light bulbs</li>
            <li>Sheet glass (windows, mirrors, etc.)</li>
            <li>Foam cups or packing materials</li>
            <li>Treated wood (painted, stained, etc.)</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <p class="accordion-header" id="headingFour">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          What items can I not place in my Trash or Recycle Bin?
        </button>
    </p>
      <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          Some items are too hazardous for recycling or disposal in a landfill.
          <ul>
            <li>Paint, stain, varnish, thinner, and adhesives</li>
            <li>Automotive products such as old fuel, anti-freeze, break fluid, motor oil and oil filters</li>
            <li>Household cleaners with ammonia or bleach</li>
            <li>Aerosol cans</li>
            <li>Fluorescent light bulbs and lamps</li>
            <li>Computer equipment</li>
            <li>Dead animals</li>
            <li>Garden products including pesticides, herbicides and fertilizers</li>
            <li>Propane tanks and fire extinguishers</li>
            <li>Pool or photographic chemicals</li>
            <li>Thermostats, thermometers and other items containing mercury</li>
            <li>Expired prescriptions and non-prescription medications (no controlled substances)</li>
            <li>Sharps (syringes, needles, etc.)*</li>
            <li>Ammunitions, firearms**</li>
            <sup>&ast;&ast;</sup>GCI of Florida does <strong>NOT</strong> accept these items. Contact your local police or sheriff's office for disposal instructions.
          </ul>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <p class="accordion-header" id="headingFive">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
          What Items are considered Recyclable?
        </button>
    </p>
      <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <p>Generally, the items below can be placed in your curbside recycling containers, bins or totes. These items should be clean and loose — remove from any additional packaging and do not bag them.</p>
          <p>For more information on recyclable and non-recyclable materials, check out the <a href="https://www.wm.com/us/en/inside-wm/recycle-right/recycling-101" class="fw-bold">All About Recycling</a> guide.</p>
          <ul>
            <li>All plastics #1-7 (except foam cups or packing materials)</li>
            <li>Aluminum foil products (cans, baking tins and foil)</li>
            <li>Paper bags</li>
            <li>Cardboard</li>
            <li>Clean paper</li>
            <li>Glass containers</li>
            <li>Scrap metal (cookie sheets, utensils)</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <p class="accordion-header" id="headingSix">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
          What Items are considered NOT Recyclable?
        </button>
    </p>
      <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <p>Non-recyclable materials must be placed in your standard trash bins. Be certain that your trash cans, containers, bins or carts are not overloaded and that their lids can close all the way. Additional fees may apply for overfilled containers.</p>
          <p>These items below cannot be recycled via curbside recycling programs. For more information on recyclable and non-recyclable materials, check out the <a href="https://www.wm.com/us/en/inside-wm/recycle-right/recycling-101" class="fw-bold">All About Recycling</a> guide.</p>
          <ul>
            <li>Plastic bags (these can often be returned to a local grocery store)</li>
            <li>Ceramic dishes, cups and glassware</li>
            <li>Juice boxes/juice pouches</li>
            <li>Foam cups or packing materials</li>
            <li>Windows, mirrors, sheet glass</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <p class="accordion-header" id="headingSeven">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
          Can I Schedule a Bulk Pickup?
        </button>
    </p>
      <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <p>YES, bulk-waste pickups are available to GCI customers. Terms, fees and conditions may apply. To learn more and easily schedule your “bulk” pickup please call <a href="tel:5614443442">561-444-3442</a></p>
          <p>Items considered bulky include:</p>
          <ul>
            <li>Appliances, TVs and electronics</li>
            <li>Household furniture</li>
            <li>Scrap metal</li>
            <li>Yard trimmings — bundled for composting</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <p class="accordion-header" id="headingEight">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
          Can my containers be cleaned?
        </button>
    </p>
      <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          Household baking soda can work wonders at removing trash container smells. Add ¼ cup baking soda to your trash receptacle at the beginning of each week. The best time to add the baking soda is when the containers are dry and clean. Clean cat litter can also be substituted for baking soda. You can clean your trash container with regular soap and water.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <p class="accordion-header" id="headingNine">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
          How do I order new containers?
        </button>
    </p>
      <div id="collapseNine" class="accordion-collapse collapse" aria-labelledby="headingNine" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          Please call our customer service team at <a href="tel:5614443442">561-444-3442</a> or email us <a href="mailto:atCSR@goodecompanies.com">atCSR@goodecompanies.com</a>
        </div>
      </div>
    </div>
  </div>