<section id="hero" class="min-vh-100 d-flex align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-12 text-white px-5">
                <h1 class="text-uppercase fw-semibold" data-aos="fade-right">Solid Waste & Recycling Division
                    </h1>
                <h5 class="mb-5" data-aos="fade-right" data-aos-delay="100">Offering Goode Service – Today, Tomorrow and Beyond</h5>
                <div>
                    <a href="#our-mission" class="btn btn-primary" data-aos="fade-right" data-aos-delay="200" style="scroll-behavior: smooth;">Get Started</a>
                </div>
            </div>
        </div>
    </div>
</section>