<!-- Each Service-->
<div class="col-12 col-lg-4">
    <div class="card card-vcard" data-aos="fade-up" data-aos-delay="100">
        <picture class="avatar">
            <img
                class="img-fluid"
                src="{{ img }}"
                alt="{{ config.defaultImgAlt }}">
        </picture>
        <h5 class="card-title vcard-title mt-4">{{ title }}</h5>
                  <p class="text-muted">{{ paragraph }}</p>
                 <a href="{{{link}}}">{{link-text}}</a>
    </div>
</div>
<!-- /Each Service-->