<head>
  <!-- Google Tag Manager -->
  <script>
    (function (w, d, s, l, i) {
      w[l] = w[l] || [];
      w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
      var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s),
        dl = l != "dataLayer" ? "&l=" + l : "";
      j.async = true;
      j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
      f.parentNode.insertBefore(j, f);
    })(window, document, "script", "dataLayer", "GTM-5QXXZM5V");
  </script>
  <!-- End Google Tag Manager -->

  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- Primary Meta Tags -->
  <title>{{ title }}</title>
  <meta name="title" content="{{ title }}" />
  <meta
    name="description"
    content="Goode Companies of Florida is an environmentally focused waste
    & recycling solutions company"
  />

  <!-- SEO -->
  <meta
    name="keywords"
    content="waste management, recycling, dumpster rentals, roll-off containers, Goode Companies Florida, trash collection, West Palm Beach FL, trash, construction dump, house clean out, roll off, cheap dumpster rental, riviera beach dumpster, temporary dumpster, residential dumpster, trash removal"
  />
  <meta name="author" content="Goode Companies of Florida" />
  <link rel="canonical" href="https://www.goodecompaniesflorida.com" />

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://goodecompaniesflorida.com/" />
  <meta
    property="og:title"
    content="Goode Companies Florida - Trash & Recycling Solutions"
  />
  <meta
    property="og:description"
    content="Goode Companies Florida provides residential and commercial waste management and recycling services."
  />
  <meta property="og:image" content="{{webRoot}}/assets/images/og-image.jpg" />

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image" />
  <meta property="twitter:url" content="https://goodecompaniesflorida.com/" />
  <meta
    property="twitter:title"
    content="Goode Companies Florida - Trash & Recycling Solutions"
  />
  <meta
    property="twitter:description"
    content="Sustainable waste collection and roll-off services across Florida."
  />
  <meta
    property="twitter:image"
    content="{{webRoot}}/assets/images/og-image.jpg"
  />

  <!-- Theme Color -->
  <meta name="theme-color" content="#283891" />

  <!-- Favicons -->
  <link
    rel="apple-touch-icon"
    sizes="180x180"
    href="{{webRoot}}/assets/favicon/apple-touch-icon.png"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="32x32"
    href="{{webRoot}}/assets/favicon/favicon-32x32.png"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="16x16"
    href="{{webRoot}}/assets/favicon/favicon-16x16.png"
  />
  <link rel="manifest" href="{{webRoot}}/assets/favicon/site.webmanifest" />
  <link
    rel="shortcut icon"
    href="{{webRoot}}/assets/favicon/favicon.ico"
    type="image/x-icon"
  />

  <!-- Vendor CSS-->
  <link rel="stylesheet" href="{{webRoot}}/assets/css/libs.bundle.css" />

  <!-- Main CSS-->
  <link rel="stylesheet" href="{{webRoot}}/assets/css/theme.bundle.css" />
</head>
