:root{
    /* Bootstrap vars*/
    --bs-font-sans-serif: 'Hind Vadodara', sans-serif;


    /* Icon font family
    --theme-font-icon:
    --theme-font-icon-style: 'normal';
 */
    /*Avatar*/
    --theme-avatar-size: 90px;
}