<ul class="navbar-nav text-uppercase">
<!--   <li class="nav-item">
        <a href="{{webRoot}}/index.html" class="nav-link">Home</a>
    </li>
    <li class="nav-item">
        <a href="{{webRoot}}/about.html" class="nav-link">About</a>
    </li>
    <li class="nav-item">
        <a href="{{webRoot}}/services.html" class="nav-link">Services</a>
    </li>
    
    <li class="nav-item">
        <a href="{{webRoot}}/faqs.html" class="nav-link">FAQ's</a>
    </li>
    <li class="nav-item">
        <a href="{{webRoot}}/contact.html" class="nav-link">Contact Us</a>
    </li> -->

    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdownDefault" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Dropdown Default
        </a>
        <ul class="dropdown-menu" aria-labelledby="dropdownDefault">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="dropdownMega" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Dropdown Megamenu
        </a>
        <ul class="dropdown-menu" aria-labelledby="dropdownMega">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </li>

</ul>