<ul class="navbar-nav text-uppercase">
  <li class="nav-item">
        <a href="{{webRoot}}/index.html" class="nav-link">Home</a>
    </li>
    <li class="nav-item">
        <a href="{{webRoot}}/about.html" class="nav-link">About</a>
    </li>
    <li class="nav-item">
        <a href="{{webRoot}}/services.html" class="nav-link">Services</a>
    </li>

    <li class="nav-item">
        <a href="https://goodecompanies.haulerhero.com" class="nav-link" target="_blank">Pay My Bill</a>
    </li>

    <li class="nav-item">
        <a href="{{webRoot}}/faq.html" class="nav-link">FAQ's</a>
    </li>
    <li class="nav-item">
        <a href="{{webRoot}}/contact.html" class="nav-link">Contact Us</a>
    </li>
</ul>



