//global body font
body{
    font-family: 'Hind Vadodara', sans-serif;
    h2,h6{
        font-family: 'ethnocentric', sans-serif;
        font-style:normal;
    }

    h1{
        font-family: 'Overpass', sans-serif;
        font-style: normal;
    }

    p{
        font-size: 1.1rem;
    }

    min-height: 100vh;
}

//Company Logo Font Family
.logo-font{
    font-family: ethnocentric, sans-serif;
    font-weight: 400;
    font-style: normal;
}

//any link or the primary-blue class will display the "Goode" blue color
a,.primary-blue{
    color: $p-blue;
}

.primary-red{
    color: $p-red;
}


//jobs backround color will fade on hover
.jobs { 
  
    transition: all .4s ease-in;
    
}

.jobs:hover { 
    background: $gray-300;
}

.services-image{
    transform:translate(-50%,-50%);
    position: absolute;
    z-index: 30;
    top:5%;
}
